<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>MicroMonsterRPG</title>
</head>
<body>
<div class="Block">
    <div class="logo">
        <img src="../Public/img/MiniMonsterLogo.svg">
    </div>
    <form>
            <input name="email" type="text" placeholder="youremail@email.com">
            <input name="password" type="password" placeholder="password">
            <button  class="button" type="submit">PLAY!</button>
            <button class="button button2" type="submit">Register Now!</button>

    </form>
            

</div>



</body>
</html>