/*----------------------wyjatki----------------------------------------*/
/* Large devices (laptops/desktops, 1300px and up) */
@media only screen and (max-width: 1300px) { 
 /*-----------------------------index_start----------------------------*/
    .Block{
   flex-direction: column; }

.logo {
       margin-left: 3.1em;
       display: flex;
       flex-direction: center;
       align-items: center;
       width: 50%;
}

.logo > img {
   width:34em;
   height: 24em;
}

.Block >form {
   flex-direction: column;
   height: 40%;
   width: 50%;
}

.Block>form > input {
   line-height: 2em;
   font-size: 1.5em;
}

.button {
   line-height: 2em;
   font-size: 1.5em;
}
.button2{
    line-height: 2em;
    font-size: 1.5em;
 }
 /*-----------------------------index_end----------------------------*/
 /*-----------------------------mainPage_start----------------------------*/
 

 .logomainscr {
    position: absolute;
    top: 30%;
    left: 10%;
}

.logomainscr>img {
    height: 30em;
    width: 30em;
    opacity: 50%;
}

/*-----------------------------mainPage_end----------------------------*/
/*-----------------------------register_start----------------------------*/

.RegisterBlock>form {
    height: 100%;
    width: 80%;
    margin-left: 5em;
    
}
.RegisterBlock> form > input {
    padding-left: 0.5em;
    margin: 0 1em 0 1em;
    /* font */
    color: #0D2663;
    line-height: 2.5em;
    font-size: 1.5em;
}

.RegisterBlock>form>label{
    line-height: 2em;
    font-size: 1em;
}


.facePicture{
    
    position:relative;
    top:35em;
    right:6em;
    z-index: 1;
    
}
.facePicture>img{
    width: 17em;
    height: 15em;
}


.ExamplePhotos{
    display:none;
    flex-direction: column;
}

/*-----------------------------register_end----------------------------*/

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {
/*-----------------------------index_start----------------------------*/
.Block{
    flex-direction: column; }

.logo {
        display: flex;
        flex-direction: center;
        align-items: center;
        width: 50%;
}

.logo > img {
    width:25em;
    height: 15em;
}

.Block >form {
    flex-direction: column;
    height: 40%;
    width: 80%;
}

.Block >form > input {
    line-height: 2em;
    font-size: 1.5em;
}

.button {
    line-height: 2em;
    font-size: 1.5em;
}
.button2{
    line-height: 2em;
    font-size: 1.5em;
 }
/*-----------------------------index_end----------------------------*/
/*-----------------------------mainPage_start----------------------------*/
.logomainscr>img {
    height: 20em;
    width: 20em;
    opacity: 50%;
}

.logomainscr {
    position: absolute;
    top: 35%;
    left: 15%;
}
/*-----------------------------mainPage_end----------------------------*/
/*-----------------------------register_start----------------------------*/
.RegisterBlock{
    flex-direction: column;
}
.RegisterBlock>form {
    height: 100%;
    width: 100%;
    margin-top: 50em;
    margin-left: 0em;
}
.RegisterBlock> form > input {
    padding-left: 0.5em;
    margin: 0 1em 0 1em;
    /* font */
    color: #0D2663;
    line-height: 2.5em;
    font-size: 1.5em;
}

.RegisterBlock>form>label{
    line-height: 2em;
    font-size: 1em;
    color:#65DEDE;
    text-align: center;
}


.facePicture{
    position:relative;
    top:-60em;
    right:10em;
    z-index: 1;
    
}
.facePicture>img{
    width: 60em;
    height: 40em;
}


.ExamplePhotos{
    display: none;
    flex-direction: column;
}

/*-----------------------------register_end----------------------------*/

}

@media only screen and (max-device-width:600px) {
 /*-----------------------------index_start----------------------------*/
    .Block{
        flex-direction: column; }
    
    .logo {
            margin-left: 3.2em;
            display: flex;
            flex-direction: center;
            align-items: center;
            width: 50%;
    }
    
    .logo > img {
        width:55em;
        height: 45em;
    }
    
    .Block >form {
        flex-direction: column;
        height: 55%;
        width: 80%;
    }
    
    .Block >form > input {
        line-height: 3.5em;
        font-size: 3em;
    }
    
    .button {
        line-height: 3.5em;
        font-size: 3em;
    }
    .button2{
        line-height: 3.5em;
        font-size: 3em;
        color:rgb(4, 16, 58);
    }
/*-----------------------------index_end----------------------------*/
/*-----------------------------mainPage_start----------------------------*/
/*-----------------------------mainPage_end----------------------------*/
/*-----------------------------register_start----------------------------*/

.RegisterBlock{
    flex-direction: column;
}
.RegisterBlock>form {
    height: 100%;
    width: 100%;
    margin-top: 100em;
    margin-left: 0em;
}
.RegisterBlock> form > input {
    padding-left: 0.5em;
    margin: 0 1em 0 1em;
    /* font */
    color: #0D2663;
    line-height: 3em;
    font-size: 2em;
}

.RegisterBlock>form>label{
    line-height: 3em;
    font-size: 2em;
    color:#65DEDE;
    text-align: center;
}


.facePicture{
    position:relative;
    top:-120em;
    right:17em;
    z-index: 1;
    
}
.facePicture>img{
    width: 100em;
    height: 70em;
}


.ExamplePhotos{
    display: none;
    flex-direction: column;
}

.button3{
    padding-left: 0.5em;
    margin: 3em 1em 1em 1em;
    background: #477DB1 0% 0% no-repeat padding-box;
    border-radius: 2em;
    border: 0.125em solid #000000;

    color: #0D2663;
    line-height: 3em;
    font-size:2em;
    font-weight: bold;

}
/*-----------------------------register_end----------------------------*/
}
  